{% extends 'base.html' %}

{% block content %}
    <h1>Home</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Actions</th>
        </tr>

        {% for article in articles %}
        <tr>
            <td><a href="{% url 'detail' article.id %}">{{article.title}}</a></td>
            <td>{{article.content}}</td>
            <td>
                <a href="{% url 'edit' article.id %}">Edit</a>
                <a href="{% url 'delete' article.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'create' %}">Create New Article</a>
{% endblock %}